:root {
  --color-brand: #2b7fff;
  --color-primary-dark: #011c44;
  --color-prinary-light: #ffffff;
}
/* Base */
body {
  color: var(--color-primary-dark);
}
ul {
  list-style-type: none;
}
/* Button */
.button {
  color: var(--color-prinary-light);
  background-color: var(--color-brand);
  border: 2px var(--color-brand);
  border-radius: 32px;
  cursor: pointer;
}
.button:hover {
  color: var(--color-primary-dark);
  background-color: transparent;
  border: 2px solid var(--color-brand);
}
/* Link */
.link {
  color: var(--color-primary-dark);
}
.link:hover {
  color: var(--color-brand);
}
/* Hero section */
.hero-title {
  color: var(--color-brand);
}
.accent {
  color: var(--color-brand);
}
/* Padding section */
.padding-title {
  color: var(--color-primary-dark);
}
.padding-title2 {
  color: #4a4a4a;
}
.section-title {
  color: var(--color-primary-dark);
}
