/* play-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Play';
  font-weight: 400;
  src: url('../fonts/play-v21-latin-regular.woff2') format('woff2');
}
/* play-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Play';
  font-weight: 700;
  src: url('../fonts/play-v21-latin-700.woff2') format('woff2');
}
/* roboto-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-weight: 400;
  src: url('../fonts/roboto-v49-latin-regular.woff2') format('woff2');
}
/* roboto-600 - latin */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-weight: 600;
  src: url('../fonts/roboto-v49-latin-600.woff2') format('woff2');
}

:root {
  --color-brand: #2b7fff;
  --color-primary-dark: #011c44;
  --color-prinary-light: #ffffff;
}
/* Base */
body {
  color: var(--color-primary-dark);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
.section {
  padding: 48px 0;
}
.container {
  width: 100%;
  max-width: 1264px;
  margin: 0 auto;
}
/* Button */
.button {
  padding: 16px 32px;
  color: var(--color-prinary-light);
  font-weight: 600;
  font-size: 18px;
  background-color: var(--color-brand);
  border: 2px var(--color-brand);
  border-radius: 32px;
  cursor: pointer;
}
.button:hover {
  color: var(--color-primary-dark);
  background-color: transparent;
  border: 2px solid var(--color-brand);
}
/* Link */
.link {
  color: var(--color-primary-dark);
  text-decoration: none;
}
.link:hover {
  color: var(--color-brand);
  font-weight: 700;
}
.link-footer {
  color: var(--color-prinary-light);
  font-size: 16px;
  text-decoration: none;
}
.link-footer:hover {
  color: var(--color-brand);
  font-weight: 700;
}
/* Header */
.contact-header {
  color: var(--color-primary-dark);
  font-size: 32px;
}
.header-containar {
  display: flex;
  align-items: center;
}
.header-nav {
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.header-menu {
  display: flex;
  gap: 56px;
  justify-content: center;
  padding-left: 240px;
  padding-right: 240px;
}
.header-contact {
  display: flex;
  gap: 32px;
  justify-content: center;
}
/* Hero section */
.hero-section {
  padding-top: 60px;
  padding-left: 106px;
  padding-bottom: 126px;
  margin-bottom: 0;
}
.hero-title {
  display: flex;
  flex-direction: column;
  color: var(--color-brand);
  font-family: 'Play', sans-serif;
  text-align: left;
  text-transform: capitalize;
  font-size: 140px;
  font-weight: 700;
  line-height: 0.8;
  padding-bottom: 40px;
  margin-bottom: 0;
}
.accent {
  color: var(--color-brand);
}
/* Padding section */
.padding-title {
  color: var(--color-primary-dark);
  padding-bottom: 16px;
}
.padding-title2 {
  color: #4a4a4a;
  font-size: 12px;
  line-height: 1.5;
  padding-top: 14px;
}
.section-title {
  color: var(--color-primary-dark);
  font-family: 'Play', sans-serif;
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 48px;
}
.accent-uppercase {
  color: var(--color-brand);
  text-transform: capitalize;
  font-weight: 600;
}
/* about-us-section */
.about-us-text {
  font-size: 22px;
  line-height: 1.5;
  padding-bottom: 40px;
}
.about-us-section {
  padding-bottom: 176px;
}
.about-us-title {
  color: var(--color-primary-dark);
  font-family: 'Play', sans-serif;
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 40px;
  padding-bottom: 40px;
}
/* our procedures-section */
.procedures-text {
  font-size: 22px;
  line-height: 1.2;
}
.contacts-title {
  font-size: 22px;
  font-weight: 600;
}
/* footer */
.copyright-footer {
  font-size: 13px;
  color: #747272;
}
.contact-footer {
  font-style: normal;
  color: var(--color-prinary-light);
  font-size: 16px;
  text-decoration: none;
}
.contact-footer:hover {
  color: var(--color-brand);
  font-weight: 700;
}
